*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

nav {
    background-color: rgba(0,0,0,.4);
    font-size: 15px;
}
nav a {
    color: white;
}
nav ul li {
    margin-right: 10px;
    
}
/* ##################### header ######################### */
header {
    height: 100vh;
    background: url(../img/slider/banner.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.slide {
    background-color: white;
    height: 100%;
    
}

header .slider {
    height: 50px;
    margin:0 20px ;
    width: 50px;
    position: absolute;
    top: 50%;
    background-color: transparent;
    border: 2px solid;
}
header .slider:hover {
    background-color: blue;
}
.details {
    background-color: #198ce7;
}
.detailsSlider {
    width: 20px;
    height: 20px;
    border: 0;
    color: white;

}

/* ##################################################### service ####################################   */
hr {
    width: 10%;
}
.serviceIcon i  {
    font-size: 40px;
}
#service p {
    font-size: 15px;
}
/* ##################################################### projects ####################################   */
.projectCard {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.cardInfo {
    background-color: rgba(0,0,0,.4);
    position: absolute;
    bottom: -100px;
    width: 92%;
    transition: all 0.7s ease-in-out;
}
.cardIcon {
    position: absolute;
    top: -45px;
    right: 15px;
    transition: all 0.7s ease-in-out;
}
.cardIcon a {
    display: inline-block;
    width: 50px;
    height: 40px;
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    align-items: center;
    
    color: #818181;
}
.projectCard:hover .cardInfo {
    bottom: 0;
}
.projectCard:hover .cardIcon {
    top: 0;
}
/* ##################################################### TESTIMONIAL ####################################   */

.people {
    background: url(../img/parallax/testimonial.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.people div
{
   background-color:  rgba(15,155,224, 0.78);
}

/* ##################################################### PRICE ####################################   */
#price .priceDetailes {
    display: flex;
    justify-content: space-between;
    
} 
#price ul {
    list-style: none;
    
}
#price ul li {
    padding: 25px 90px;
}
#price ul li:first-child {
    font-size: 25px;
}
#price ul li:last-child {
    transition: all 0.3s ease-in-out;

}
#price .priceDetailes div:nth-child(2) {
    box-shadow: -4px 6px 11px 3px #ccc;
}
#price .priceDetailes div:first-child ul li:nth-child(2) , #price .priceDetailes div:last-child ul li:nth-child(2) {
    background-color: #f8f8f8;
    color: #727272;
}
#price .priceDetailes div:nth-child(2) ul li:nth-child(2) {
    background-color:#009EE3 ;
    font-size: 25px;
    color: white;
}
#price .priceDetailes div:nth-child(2) ul li:last-child {
    background-color: #009EE3;
}
#price .priceDetailes  ul li:last-child {
    cursor: pointer;
}
#price .priceDetailes div ul li a {
    text-decoration: none;
    
}
#price .priceDetailes div ul li:last-child:hover  {
    background-color: #009EE3;
    
}
#price .priceDetailes div ul li:hover  a{
    color: white;
    
}
.follow {
    background: url(../img/slider/banner.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 40px 0;
    padding-bottom: 100px;
}

.followIcons div {
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
    justify-content: center;
    width: 100px;
    height: 100px;
    color: #fff;
    font-size: 40px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
}
.followIcons div a {
    color: #fff;
    text-decoration: none;

}
.followIcons div:hover {
    border-color: #009EE3;
}
.followIcons div:hover a {
    color: #009EE3;

}
.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}



@media screen and (max-width: 767px) {
    #price .priceDetailes {
        display: block;
    }   
}